.Home{
    display: flex;
    width : 100vw;
    height: 30vh;
    align-Items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #20bf55;
    background-image: linear-gradient(110deg, #20bf55 0%, #01baef 74%); */
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App {
    text-align: center;
  }