body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15329e;
  background-image: linear-gradient(90deg, #15329e 0%, #3b6edc 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 30px auto;
  overflow: auto;
  min-height: 800px;
  padding: 30px;
  border-radius: 5px;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.wrapper {
  margin-top: 100cm;
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
  flex-direction: diable;

}

.image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.title {
  padding: 1rem;
}

.description {
  padding:0 1rem;
}